#body {
    background-color: #2dc79e;
}

#map {
    width: 100%;
    height: 400px;
}

#controls {
    margin-top: 20px;
}

#stats {
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    margin-top: 50px;
}
.value-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.value {
    font-size: 24px;
}