#body {
    background-color: #2dc79e;
}

#map {
    width: 100%;
    height: 400px;
}

#controls {
    margin-top: 20px;
}

#stats {
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    margin-top: 5%;
}
.value-box {
    border: 4px solid #ccc;
    padding: 3.9%;
    margin-bottom: 1%;
    width: 70%;
    margin-left: 5%;
    margin-right: auto;
}
.title {
    font-weight: bold;
    font-size: 100%;
    margin-top: -5%;
    margin-bottom: 2%;
}
.value {
    font-size: 150%;
}
.result {
    font-weight: bold;
    font-size: 150%;
}

input[type="range"] {
    width: 100%;
}
span {
    display: block;
    text-align: center;
    margin-top: 1%;
}